<div class="file-item">
    <div class="file-item-select-bg bg-primary" @onclick="OnClickCallback"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        @CheckBox
        <span class="custom-control-label"></span>
    </label>
        <div @onclick="OnClickCallback">
            @Preview
        </div>
    <a class="file-item-name" @onclick="OnClickCallback">
        @Name
    </a>
    @* <div class="file-item-changed">02/20/2018</div> *@
    <div class="file-item-actions btn-group">
        <button type="button" class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-toggle="dropdown"><i class="ion ion-ios-more"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)">Rename</a>
            <a class="dropdown-item" href="javascript:void(0)">Move</a>
            <a class="dropdown-item" href="javascript:void(0)">Copy</a>
            <a class="dropdown-item" href="javascript:void(0)">Remove</a>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public RenderFragment? CheckBox { get; set; }
    [Parameter]
    public EventCallback<bool> IsSelectedChanged { get; set; }
    [Parameter]
    public RenderFragment? Preview { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public EventCallback OnClickCallback { get; set; }
}