<div class="file-item">
    <div class="file-item-select-bg bg-primary" @onclick="OnClickCallback"></div>
    <label class="file-item-checkbox custom-control custom-checkbox">
        @CheckBox
        <span class="custom-control-label"></span>
    </label>
        <div @onclick="OnClickCallback">
            @Preview
        </div>
    <a class="file-item-name" @onclick="OnClickCallback">
        @Name
    </a>
    <button class=" file-item-actions btn-group nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
    </button>
    <ul class="dropdown-menu  dropdown-menu-right" >
        <li><a class="dropdown-item" @onclick="DownloadCallback">Download</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" @onclick="RenameCallback">Rename</a></li>
        <li><a class="dropdown-item" @onclick="MoveCallback">Move</a></li>
        <li><a class="dropdown-item" @onclick="CopyCallback">Copy</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" @onclick="DeleteCallback">Delete</a></li>
    </ul>
</div>

@code
{
    [Parameter]
    public RenderFragment? CheckBox { get; set; }
    [Parameter]
    public EventCallback<bool> IsSelectedChanged { get; set; }
    [Parameter]
    public RenderFragment? Preview { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public EventCallback OnClickCallback { get; set; }
    [Parameter]
    public EventCallback DownloadCallback { get; set; }
    [Parameter]
    public EventCallback RenameCallback { get; set; }
    [Parameter]
    public EventCallback MoveCallback { get; set; }
    [Parameter]
    public EventCallback CopyCallback { get; set; }
    [Parameter]
    public EventCallback DeleteCallback { get; set; }
}