<div class="col-12 col-lg-3">
    <a href="@Link" style="text-decoration:none">
        <div class="card shadow-none border radius-15">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    @Icon
                    <div class="ms-auto font-24">
                        <i class="fa fa-ellipsis-h"></i>
                    </div>
                </div>
                <h5 class="mt-3 mb-0">@Name</h5>
                <p class="mb-1 mt-4"><span>@Used GB</span>  <span class="float-end">@Size GB</span>
                </p>
                <div class="progress" style="height: 7px;">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 65%;" aria-valuenow="@BarValue" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </a>
</div>

@code
{
    [Parameter]
	public RenderFragment? Icon { get; set; }

    [Parameter]
	public string? Name { get; set; }

    [Parameter]
	public string? Size { get; set; }

    [Parameter]
    public string? Used { get; set; }

    [Parameter]
	public string? Link { get; set; }

    [Parameter]
    public int BarValue { get; set; }
}